<div class="ui container">
    {% form_theme connectionForm '@SyliusAdmin/Form/theme.html.twig' %}
    {{ form_start(connectionForm, {'action': path('gally_sylius_config'), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate', 'id': connectionForm.vars.id}}) }}

    <div class="ui horizontal divider"> {{ 'gally_sylius_plugin.ui.configuration_header'|trans }} </div>

    <div class="ui equal width grid">
        {{ form_errors(connectionForm) }}
        <div class="row">
            <div class="column">
                {{ form_row(connectionForm.baseUrl) }}
            </div>
        </div>
        <div class="row">
            <div class="column">
                {{ form_row(connectionForm.userName) }}
            </div>
        </div>
        <div class="row">
            <div class="column">
                {{ form_row(connectionForm.password) }}
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui hidden divider"></div>
                <div class="ui buttons">
                    <button class="ui labeled icon primary button" type="submit" id="sylius_save_changes_button"><i class="save icon"></i> {{ 'sylius.ui.save_changes'|trans }}</button>
                </div>
            </div>
        </div>
        <div class="ui hidden divider"></div>
    </div>

    {{ form_row(connectionForm._token) }}
    {{ form_end(connectionForm, {'render_rest': false}) }}
</div>
