<div class="ui hidden divider"></div>

<h4 class="ui top attached large header">{{ 'gally_sylius.ui.channel.header'|trans }}</h4>
<div class="ui attached segment">
    {{ form_errors(form) }}

    <div class="field">
        {{ form_row(form.gallyActive) }}
    </div>
    <div class="field">
        {{ form_row(form.gallyProductIndexBatchSize) }}
    </div>
    <div class="field">
        {{ form_row(form.gallyCategoryIndexBatchSize) }}
    </div>
</div>
