<div class="card g-col-12 g-col-xl-12">
    <div class="card-header">
        <div class="card-title">{{ 'gally_sylius.ui.channel.header'|trans }}</div>
    </div>

    <div class="card-body">
        {{ form_errors(hookable_metadata.context.form) }}

        {# Groupe : Configuration générale #}
        <div class="d-flex align-items-center mb-3 p-2 bg-light border-start border-3 border-primary">
            <h5 class="mb-0 fw-bold">{{ 'gally_sylius.ui.channel.section.general'|trans }}</h5>
        </div>
        <div class="row mb-4">
            <div class="col-6">
                {{ form_row(hookable_metadata.context.form.gallyActive, sylius_test_form_attribute('gally-active')) }}
            </div>
        </div>

        {# Groupe : Indexation #}
        <div class="d-flex align-items-center mb-3 p-2 bg-light border-start border-3 border-primary">
            <h5 class="mb-0 fw-bold">{{ 'gally_sylius.ui.channel.section.indexing'|trans }}</h5>
        </div>
        <div class="row mb-4">
            <div class="col-6">
                {{ form_row(hookable_metadata.context.form.gallyProductIndexBatchSize, sylius_test_form_attribute('gally-product-index-batch-size')) }}
            </div>
            <div class="col-6">
                {{ form_row(hookable_metadata.context.form.gallyCategoryIndexBatchSize, sylius_test_form_attribute('gally-category-index-batch-size')) }}
            </div>
        </div>

        {# Groupe : Autocomplétion #}
        <div class="d-flex align-items-center mb-3 p-2 bg-light border-start border-3 border-primary">
            <h5 class="mb-0 fw-bold">{{ 'gally_sylius.ui.channel.section.autocomplete'|trans }}</h5>
        </div>
        <div class="row mb-4">
            <div class="col-6">
                {{ form_row(hookable_metadata.context.form.gallyAutocompleteProductMaxSize, sylius_test_form_attribute('gally-autocomplete-product-max-size')) }}
            </div>
            <div class="col-6">
                {{ form_row(hookable_metadata.context.form.gallyAutocompleteCategoryMaxSize, sylius_test_form_attribute('gally-autocomplete-category-max-size')) }}
            </div>
            <div class="col-6">
                {{ form_row(hookable_metadata.context.form.gallyAutocompleteAttributeMaxSize, sylius_test_form_attribute('gally-autocomplete-attribute-max-size')) }}
            </div>
        </div>

        {# Groupe : Tracking #}
        <div class="d-flex align-items-center mb-3 p-2 bg-light border-start border-3 border-primary">
            <h5 class="mb-0 fw-bold">{{ 'gally_sylius.ui.channel.section.tracking'|trans }}</h5>
        </div>
        <div class="row mb-4">
            <div class="col-6">
                {{ form_row(hookable_metadata.context.form.gallyTrackingActive, sylius_test_form_attribute('gally-tracking-active')) }}
            </div>
            <div class="col-6">
                {{ form_row(hookable_metadata.context.form.gallyUseSyliusEndpointTracking, sylius_test_form_attribute('gally-use-sylius-endpoint-tracking')) }}
            </div>
            <div class="col-6">
                {{ form_row(hookable_metadata.context.form.gallyUidCookieLifetime, sylius_test_form_attribute('gally-uid-cookie-lifetime')) }}
            </div>
            <div class="col-6">
                {{ form_row(hookable_metadata.context.form.gallyVidCookieLifetime, sylius_test_form_attribute('gally-vid-cookie-lifetime')) }}
            </div>
        </div>
    </div>
</div>